body {
  background-color: orangered;
}

.header {
  height: 75px;
  display: grid;
  grid-template-columns: 1fr 800px 1fr;
  background-color: black;
  border-radius: 50px;
  column-gap: 50px;
}

.HW-logo {
  height: 75px;
  width: 75px;
}

.left-logo {
  margin-left: 84.5%;
}

.text-box {
  height: 75px;
}

.title {
  color: rgb(255, 255, 255);
  font-size: 35px;
  font-family: Arial;
  margin-left: 150px;
}



